<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="/register">
        <input type="text" name="user" placeholder="Enter username">
        <br> 
        <input type="password" name="password" id="" placeholder="Enter your password">
        <br>
        <button>submit</button>
    </form>
    <hr>
    <form method="post" action="/register">
        <input type="text" name="user" placeholder="Enter username">
        <br> 
        <input type="password" name="password" id="" placeholder="Enter your password">
        <br>
        <button>submit</button>
    </form>
</body>
</html>